.thumbnail-img{
    width: 100%;
}
#selected-food-image{
    width: 20%;
}
#searched-result-section{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5,1fr);
}
#foodIngredients-section{
    display: none;
    height: 200px;
    margin-left: 40%;
}
#main-icon{
    color: red;
    font-weight: bolder;
}